<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Expression Recognition</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Facial Expression Recognition</h1>
    <div>
        <video id="video" autoplay playsinline></video>
        <canvas id="canvas"></canvas>
    </div>
    <button id="cameraToggle">Start Camera</button>
    <p id="prediction">Prediction: None</p>
    <script src="/static/script.js"></script>
</body>
</html>